<div id="username-page" #username *ngIf="hideUsernamePage">
  <div class="username-page-container">
    <h1 class="title">Type your username</h1>
    <form id="usernameForm" (submit)="submitFormWithName($event, nameInput.value)" name="usernameForm">
      <div class="form-group">
        <input type="text" #nameInput id="name" placeholder="Username" autocomplete="off" class="form-control"/>
      </div>
      <div class="form-group">
        <button class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>

<div id="chat-page" #chat *ngIf="hideChat">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Chat Room</h2>
    </div>

    <ul id="messageArea" #messageArea [scrollTop]="messageArea.scrollHeight">
      <li class="chat-message" *ngFor="let message of messages">
        <span class="event-message" *ngIf="message.type === 'JOIN'">{{message.sender}} joined!</span>
        <span class="event-message" *ngIf="message.type === 'LEAVE'">{{message.sender}} left!</span>
        <i [style.background-color]="getAvatarColor(message.sender)" *ngIf="message.type === 'CHAT'">{{message.firstLetterOfName}}</i>
        <span *ngIf="message.message != null">{{message.sender}}</span>
        <p *ngIf="message.message != null">{{message.message}}</p>
      </li>
    </ul>

    <form id="messageForm" #message name="messageForm">
      <div class="form-group">
        <div class="input-group clearfix">
          <input type="text" id="message" #messageInput placeholder="Type a message..." autocomplete="off"
                 class="form-control"/>
          <button type="submit" (click)="sendMessage($event, messageInput.value)" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
